* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

#map {
    flex: 1;
    width: 100%;
}

.datetime-ctrl {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.date-item {
    display: inline-block;
}

.date-item:nth-child(2n) {
    background: #E0E0E0;
}

.date-item.wday0 {
    background: #FFE0E0;
}

.date-item.wday6 {
    background: #D0E0FF;
}

.datetime-item {
    display: inline-block;
    border: 2px solid transparent;
    width: 4rem;
    vertical-align: bottom;
    cursor: pointer;
}

.datetime-item.selected {
    border-color: #FF8000;
    width: 12rem;
    background: #FFE0C0;
}

.datetime-item .date-pane {
    display: none;
    padding: 1rem 0.5rem 0;
    line-height: 2rem;
    text-align: center;
    font-size: small;
}

.datetime-item:first-of-type .date-pane {
    display: block;
}

.datetime-item.selected .date-pane {
    display: block;
    font-size: medium;
    font-weight: bold;
}

.datetime-item .time-pane {
    margin-top: 3rem;
    line-height: 5rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}

.datetime-item:first-of-type .time-pane {
    margin-top: 0;
}

.datetime-item.selected .time-pane {
    margin-top: 0;
    font-size: xx-large;
}

.datetime-item .time-pane .min {
    display: none;
}

.datetime-item.selected .time-pane .min {
    display: initial;
} 

.datetime-spacer {
    display: inline-block;
    width: calc(50% - 6rem - 2px);
}
